{% load thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="&lt;%=Request.Url %>" />
    <meta property="og:site_name" content="OesteBuscas" />
    <meta property="fb:admins" content="100002907803383" />


    <script src="{{ STATIC_URL }}/js/jquery.js" type="text/javascript"></script>
    
    <script src="{{ STATIC_URL }}/js/jquery.ui.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.validity.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}/js/keyboard.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.history.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.blockui.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.highslide.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.pretty-photo.js" type="text/javascript"></script>
    <!--
        Descomenta para funcionar o google maps
    
    <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyCEfj4UJ6PoyjGgScf45QHmpV_hSw1pBUM" type="text/javascript"></script>
    -->

    <script src="{{ STATIC_URL }}/js/jquery.fileuploader.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.urlencode.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.cycle.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/main.js" type="text/javascript"></script>
    
    
    <link href="{{ STATIC_URL }}/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/main.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/keyboard.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/jcarousel.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/jquery.validity.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/pretty-photo.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/fileuploader.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/highslide.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/pretty-photo.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27246662-1']);
        _gaq.push(['_setDomainName', 'oestebuscas.com.br']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    
    <script type="text/javascript">
        $(function () {
            $("#galeria-imagem-box").jcarousel({ wrap: 'circular', scroll: 1, animation: 'slow' });
        });
    </script>
    <link href="{{ STATIC_URL }}/css/home.css" rel="stylesheet" type="text/css" />
<title>
	Oeste Buscas :: Busque o que você precisa aqui!
</title></head>
<body>
    <form name="aspnetForm" method="post" action="home.aspx" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJNDM4NjE4NTI1D2QWAmYPZBYCAgEPZBYCAgQPFQEnQUl6YVN5Q0VmajRVSjZQb3lqR2dTY2Y0NVFIbXBWX2hTdzFwQlVNZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WBAUQY3RsMDAkY2hrUHJvZHV0bwUQY3RsMDAkY2hrU2VydmljbwUQY3RsMDAkY2hrRW1wcmVzYQUNY3RsMDAkYnRuRmluZBoZ5ISXOEIlQUKeLDsKAvNjE/6BRCVzTUyJZ/tPC86k" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=mZ0AjNS0NAUUQVWYI91z4hzaLTA-dvC3tv7Q1t0AbOSaOzGhlPMviAC9LmYVWxyqaLcv75O6hMT0cEMJvXFiDtGNryWZkVsEX6ZiCClbdVY1&amp;t=635287287109734648" type="text/javascript"></script>


<script src="/ScriptResource.axd?d=ABbqU4DsYVG3VrLI1t04Ag9pVQpXMZBFsYyllCb0M-qk0vIWrw-XwLEUASGCpQjDbFZ32ZHYNNnFKr7xv84u2cZV80PLOBf_5eQF9KxywVFkx8-AhGMYiGxnv-cP_3QwpOjae2PBSUOTN9I6BxkcOw2&amp;t=ffffffffbad362a4" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="/ScriptResource.axd?d=pVJmhZya5YFu7vjkMtPZvJ3xZg7Q5fccmg1fsca6447QXrA2EnZOzFry6XJmSLuZyR82yKnU_FAeW6RevWxj1VwLaFtE08p41gWPJw8l0AdFQGoDI1yGq2h5Na4YgeiXMIyiQO0ALXuOeLhP6S3-yQ2&amp;t=ffffffffbad362a4" type="text/javascript"></script>
<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBgL14IylBwL3sMb1AgKD/MuxAgKRg9KsCQKVlqjjAwL+o67xDYwgJvLRKNixjhFdpn0NRwq0KHnJkSNyfHLP/GgHdbyM" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', [], [], [], 90, 'ctl00');
//]]>
</script>


        <div class="nav-header">
            <ul>
                <li><a href="../../public/pages/home.aspx">OesteBuscas</a></li>
                <li><a href="../../public/pages/busca-item-list.aspx?busca=&tipo=produto">Produtos</a></li>
                <li><a href="../../public/pages/busca-item-list.aspx?busca=&tipo=servico">Serviços</a></li>
                <li><a href="../../public/pages/busca-empresa-list.aspx?busca=">Empresas</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=noticias">Textos e Notícias</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=videos">Vídeos</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=gal_img">Imagens</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=eventos">Agenda</a></li>
                <li><a href="../../public/pages/contato.aspx" class="open-page">Contato</a></li>
            </ul>
        </div>
        
        <div class="center-cntt-box">
            <div class="inner-box user-nav-box">

            </div>

            <div class="inner-box main-header">
                <img alt="Oeste Buscas" src="{{ STATIC_URL }}/img/main-logo.png" class="logo"/>

                <div class="find-box">
                    <input name="ctl00$edtFind" type="text" id="ctl00_edtFind" class="write" />
                    <a id="btnKeyboardFind"><img alt="Pesquisar" src="{{ STATIC_URL }}/img/tec-icon.jpg"/></a>
                </div>


                <div id="itemTypeSel" class="button-set">
                    <input id="ctl00_chkProduto" type="checkbox" name="ctl00$chkProduto" /><label for="ctl00_chkProduto">Produtos</label>
                    <input id="ctl00_chkServico" type="checkbox" name="ctl00$chkServico" /><label for="ctl00_chkServico">Serviços</label>
                    <input id="ctl00_chkEmpresa" type="checkbox" name="ctl00$chkEmpresa" /><label for="ctl00_chkEmpresa">Empresa</label>
                </div>

                <a id="btnFiltroAvancado"><img alt="Filtro Avançado" src="{{ STATIC_URL }}/img/filter-adv-icon.png"/></a>
                
                <input type="image" name="ctl00$btnFind" id="ctl00_btnFind" class="btn-find" src="{{ STATIC_URL }}/img/find-icon.png" style="border-width:0px;" />
            </div>

            <a id="btnLogin" class="button open-page" href="../../public/pages/login.aspx" style="font-size: 15px;">Fazer Login</a>

            

            
<!--
*****************************************************************************************
  PUBLICIDADE
-->
            

            <div class="separator" style="position: relative; top: 80px; z-index: -1;"></div>

            <a  class="main-top-publicidade">
                <div class="img-cntt">
                    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-6673057981037796";
                    /* Oestebuscas - topo */
                    google_ad_slot = "2423436460";
                    google_ad_width = 970;
                    google_ad_height = 90;
                    //-->
                    </script>
                    <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
                <span style="font-size: 10px; text-align: left; color: #333; padding-left: 20px;">PUBLICIDADE</span>
            </a>




{% block content %}
{% endblock content %}
    



<!--
*****************************************************************************************
  PUBLICIDADE
-->
            <div class="inner-box">
                <ul class="pub-list">

                <li>
                    <a >
                        <div class="img-cntt">

                            <embed src="{{ STATIC_URL }}/img/só percianas.swf"
                                quality="high" 
                                width="300" 
                                height="100" 
                                type="application/x-shockwave-flash" 
                                wmode="opaque"
                                pluginspage="http://www.macromedia.com/go/getflashplayer">
                            </embed>

                        </div>
                        <span>PUBLICIDADE</span>
                    </a>
                </li>
            
                </ul>
            </div>
        </div>

        <div class="center-cntt-box main-footer">
            <div class="inner-box">
                <ul class="nav nav1">
                    <li><a href="../../public/pages/ajuda-view.aspx">Ajuda</a></li>
                    <li><a href="../../public/pages/sobre-view.aspx">Sobre</a></li>
                    <li><a href="../../public/pages/direitos-autorais-view.aspx">Direitos autorais</a></li>
                    <li><a href="../../public/pages/publicidade-view.aspx">Publicidade</a></li>
                </ul>

                <ul class="nav nav2">
                    <li><a>Buscar</a></li>
                    <li><a href="../../public/pages/contato.aspx" class="open-page">Contato</a></li>
                    <li><a class="open-page" href="../../public/pages/login.aspx">Login</a></li>
                    <li><a class="open-page" href="../../public/pages/login.aspx">Registrar-se</a></li>
                </ul>
            </div>
        </div>

        <div id="black-screen"></div>
        <div id="popup">
            <a id="popup-close"><img alt="Fechar" src="static/img/close-icon.png"/></a>
            <div id="popup-inner"></div>
        </div>

        <div id='album-cntt-box' class='hide'></div>
    </form>
</body>
</html>

