

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="&lt;%=Request.Url %>" />
    <meta property="og:site_name" content="OesteBuscas" />
    <meta property="fb:admins" content="100002907803383" />


    <script src="static/js/jquery.js" type="text/javascript"></script>
    
    <script src="static/js/jquery.ui.js" type="text/javascript"></script>
    <script src="static/js/jquery.validity.js" type="text/javascript"></script>

    <script src="static/js/keyboard.js" type="text/javascript"></script>
    <script src="static/js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="static/js/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="static/js/jquery.history.js" type="text/javascript"></script>
    <script src="static/js/jquery.blockui.js" type="text/javascript"></script>
    <script src="static/js/jquery.highslide.js" type="text/javascript"></script>
    <script src="static/js/jquery.pretty-photo.js" type="text/javascript"></script>
    <!--
        Descomenta para funcionar o google maps
    
    <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyCEfj4UJ6PoyjGgScf45QHmpV_hSw1pBUM" type="text/javascript"></script>
    -->

    <script src="static/js/jquery.fileuploader.js" type="text/javascript"></script>
    <script src="static/js/jquery.urlencode.js" type="text/javascript"></script>
    <script src="static/js/jquery.cycle.js" type="text/javascript"></script>
    <script src="static/js/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="static/js/main.js" type="text/javascript"></script>
    
    
    <link href="static/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css" />
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="static/css/keyboard.css" rel="stylesheet" type="text/css" />
    <link href="static/css/jcarousel.css" rel="stylesheet" type="text/css" />
    <link href="static/css/jquery.validity.css" rel="stylesheet" type="text/css" />
    <link href="static/css/pretty-photo.css" rel="stylesheet" type="text/css" />
    <link href="static/css/fileuploader.css" rel="stylesheet" type="text/css" />
    <link href="static/css/highslide.css" rel="stylesheet" type="text/css" />
    <link href="static/css/pretty-photo.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27246662-1']);
        _gaq.push(['_setDomainName', 'oestebuscas.com.br']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    
    <script type="text/javascript">
        $(function () {
            $("#galeria-imagem-box").jcarousel({ wrap: 'circular', scroll: 1, animation: 'slow' });
        });
    </script>
    <link href="static/css/home.css" rel="stylesheet" type="text/css" />
<title>
	Oeste Buscas :: Busque o que você precisa aqui!
</title></head>
<body>
    <form name="aspnetForm" method="post" action="home.aspx" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJNDM4NjE4NTI1D2QWAmYPZBYCAgEPZBYCAgQPFQEnQUl6YVN5Q0VmajRVSjZQb3lqR2dTY2Y0NVFIbXBWX2hTdzFwQlVNZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WBAUQY3RsMDAkY2hrUHJvZHV0bwUQY3RsMDAkY2hrU2VydmljbwUQY3RsMDAkY2hrRW1wcmVzYQUNY3RsMDAkYnRuRmluZBoZ5ISXOEIlQUKeLDsKAvNjE/6BRCVzTUyJZ/tPC86k" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=mZ0AjNS0NAUUQVWYI91z4hzaLTA-dvC3tv7Q1t0AbOSaOzGhlPMviAC9LmYVWxyqaLcv75O6hMT0cEMJvXFiDtGNryWZkVsEX6ZiCClbdVY1&amp;t=635287287109734648" type="text/javascript"></script>


<script src="/ScriptResource.axd?d=ABbqU4DsYVG3VrLI1t04Ag9pVQpXMZBFsYyllCb0M-qk0vIWrw-XwLEUASGCpQjDbFZ32ZHYNNnFKr7xv84u2cZV80PLOBf_5eQF9KxywVFkx8-AhGMYiGxnv-cP_3QwpOjae2PBSUOTN9I6BxkcOw2&amp;t=ffffffffbad362a4" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="/ScriptResource.axd?d=pVJmhZya5YFu7vjkMtPZvJ3xZg7Q5fccmg1fsca6447QXrA2EnZOzFry6XJmSLuZyR82yKnU_FAeW6RevWxj1VwLaFtE08p41gWPJw8l0AdFQGoDI1yGq2h5Na4YgeiXMIyiQO0ALXuOeLhP6S3-yQ2&amp;t=ffffffffbad362a4" type="text/javascript"></script>
<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBgL14IylBwL3sMb1AgKD/MuxAgKRg9KsCQKVlqjjAwL+o67xDYwgJvLRKNixjhFdpn0NRwq0KHnJkSNyfHLP/GgHdbyM" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', [], [], [], 90, 'ctl00');
//]]>
</script>


        <div class="nav-header">
            <ul>
                <li><a href="../../public/pages/home.aspx">OesteBuscas</a></li>
                <li><a href="../../public/pages/busca-item-list.aspx?busca=&tipo=produto">Produtos</a></li>
                <li><a href="../../public/pages/busca-item-list.aspx?busca=&tipo=servico">Serviços</a></li>
                <li><a href="../../public/pages/busca-empresa-list.aspx?busca=">Empresas</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=noticias">Textos e Notícias</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=videos">Vídeos</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=gal_img">Imagens</a></li>
                <li><a href="../../public/pages/busca-list.aspx?busca=&filtro=eventos">Agenda</a></li>
                <li><a href="../../public/pages/contato.aspx" class="open-page">Contato</a></li>
            </ul>
        </div>
        
        <div class="center-cntt-box">
            <div class="inner-box user-nav-box">

            </div>

            <div class="inner-box main-header">
                <img alt="Oeste Buscas" src="static/img/main-logo.png" class="logo"/>

                <div class="find-box">
                    <input name="ctl00$edtFind" type="text" id="ctl00_edtFind" class="write" />
                    <a id="btnKeyboardFind"><img alt="Pesquisar" src="static/img/tec-icon.jpg"/></a>
                </div>


                <div id="itemTypeSel" class="button-set">
                    <input id="ctl00_chkProduto" type="checkbox" name="ctl00$chkProduto" /><label for="ctl00_chkProduto">Produtos</label>
                    <input id="ctl00_chkServico" type="checkbox" name="ctl00$chkServico" /><label for="ctl00_chkServico">Serviços</label>
                    <input id="ctl00_chkEmpresa" type="checkbox" name="ctl00$chkEmpresa" /><label for="ctl00_chkEmpresa">Empresa</label>
                </div>

                <a id="btnFiltroAvancado"><img alt="Filtro Avançado" src="static/img/filter-adv-icon.png"/></a>
                
                <input type="image" name="ctl00$btnFind" id="ctl00_btnFind" class="btn-find" src="static/img/find-icon.png" style="border-width:0px;" />
            </div>

            <a id="btnLogin" class="button open-page" href="../../public/pages/login.aspx" style="font-size: 15px;">Fazer Login</a>

            

            
<!--
*****************************************************************************************
  PUBLICIDADE
-->
            

            <div class="separator" style="position: relative; top: 80px; z-index: -1;"></div>

            <a  class="main-top-publicidade">
                <div class="img-cntt">
                    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-6673057981037796";
                    /* Oestebuscas - topo */
                    google_ad_slot = "2423436460";
                    google_ad_width = 970;
                    google_ad_height = 90;
                    //-->
                    </script>
                    <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
                <span style="font-size: 10px; text-align: left; color: #333; padding-left: 20px;">PUBLICIDADE</span>
            </a>

    <div class="inner-box acc-box">
        <h3><a class="galeria-imagem-icon">Galeria de Imagens</a></h3>
        <div class="box-decorated" style="overflow: hidden;">
            <ul id="galeria-imagem-box">

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=80">
                            <img alt="imagem" src="static/img/5970_t.jpg"/>
                            <span>3ª Open Rio - Rio Branco - MT</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=79">
                            <img alt="imagem" src="static/img/5870_t.jpg"/>
                            <span>Show Bruno e Marrone</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=78">
                            <img alt="imagem" src="static/img/5611_t.jpg"/>
                            <span>Pedro Paulo e Alex - Mirassol D'Oeste</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=77">
                            <img alt="imagem" src="static/img/5500_t.jpg"/>
                            <span>Pedro Paulo e Alex - Pontes e Lacerda</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=76">
                            <img alt="imagem" src="static/img/5479_t.jpg"/>
                            <span>48ª ExpoCáceres - Breno e Barreto</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=75">
                            <img alt="imagem" src=".static/img/5389_t.jpg"/>
                            <span>48ª ExpoCáceres - Bruninho e Davi</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=74">
                            <img alt="imagem" src="static/img/5205_t.jpg"/>
                            <span>48ª ExpoCáceres - Jads e Jadson</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=73">
                            <img alt="imagem" src=".static/img/5138_t.jpg"/>
                            <span>48ª ExpoCácres - Mato Grosso e Mathias</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=72">
                            <img alt="imagem" src="static/img/4955_t.jpg"/>
                            <span>48ª ExpoCáceres - Michel Teló</span>
                        </a>
                    </li>

                    <li>
                        <a href="../../public/pages/empresa-galeria-imagem-view.aspx?id_emp=0&id=71">
                            <img alt="imagem" src="static/img/4861_t.jpg"/>
                            <span> 1ª Feira Multisetorial e o 2º Festival de Flores</span>
                        </a>
                    </li>

            </ul>
        </div>
    </div>
    <br />

    <div class="inner-box tab-box apply-tab">
        <ul>
            <li><a href="#fragment-1" class="ui-icon-produtos"><span>Produtos</span></a></li>
            <li><a href="#fragment-2" class="ui-icon-servicos"><span>Serviços</span></a></li>
            <li><a href="#fragment-3" class="ui-icon-empresas"><span>Empresas</span></a></li>
            <span class="ui-icon acc-hide-icon"></span>
        </ul>
        
        <div class="cntt-box">
            <div id="fragment-1" class="box-decorated list-def">
                <div id="list-prod">

                <a href="empresa-item-view.aspx?id_emp=18&id_item=311&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/311_t.jpg"/>
                    </div>
                    <span class="descr">Peso de porta em diversos modelos </span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=18&id_item=196&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img196_t.jpg"/>
                    </div>
                    <span class="descr">Vários Artigos Decorativos</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=18&id_item=195&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/195_t.jpg"/>
                    </div>
                    <span class="descr">Jogo de Cama Queen</span>

                    <span class="prc-vnd">R$ 430,00</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=18&id_item=315&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img315_t.jpg"/>
                    </div>
                    <span class="descr">Tapetes estampados </span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=2&id_item=49&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/07e59d93-fa0a-49bc-8f9c-26e7fe35ffae_t.jpg"/>
                    </div>
                    <span class="descr">Banco com encosto longo</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=12&id_item=107&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/94dd6a99-749b-4518-84f9-7787a3b0470e_t.jpg"/>
                    </div>
                    <span class="descr">Acessórios</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=12&id_item=354&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/354_t.jpg"/>
                    </div>
                    <span class="descr">Livro - Antes De Dizer Sim - Jaime Kemp</span>

                    <span class="prc-vnd">R$ 27,90</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=2&id_item=11&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/d1ac3160-a304-4301-812b-6a577e631e4b_t.jpg"/>
                    </div>
                    <span class="descr">Mesa de Centro Retangular Baixa</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=12&id_item=155&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/ac0d9724-02a5-4146-ab92-018e92058bc2_t.jpg"/>
                    </div>
                    <span class="descr">CD Playback  - Aline Barros  - Extraordinário Amor de Deus</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=12&id_item=348&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/348_t.jpg"/>
                    </div>
                    <span class="descr">Bíblia de Estudo NTLH - Tamanho Grande</span>

                    <div class="prom-box">
                        <span>de </span>
                        <span class="prc-vnd-ant">R$ 87,90</span>
                        <span> por </span>
                        <span class="prc-vnd">R$ 75,90</span>
                    </div>

                </a>

                <a href="empresa-item-view.aspx?id_emp=22&id_item=287&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/287_t.jpg"/>
                    </div>
                    <span class="descr">RELÓGIO TECHNOS BELLA 2035HHF/8M </span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=2&id_item=46&tipo=produto">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/f51299f7-cd9f-494e-b8ac-bd7132ee7449_t.jpg"/>
                    </div>
                    <span class="descr">Castiçal com detalhe borboleta</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                </div>

                <div class="center-box">
                    <a class="button" href="busca-item-list.aspx?busca=&tipo=produto">Carregar mais Sugestões</a>
                </div>
            </div>
            <div id="fragment-2" class="box-decorated list-def">
                <div id="list-serv">

                <a href="empresa-item-view.aspx?id_emp=842&id_item=334&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/334_t.jpg"/>
                    </div>
                    <span class="descr">PROJETO CINE ESCOLA</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=842&id_item=338&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/338_t.jpg"/>
                    </div>
                    <span class="descr">FESTA DE CINEMA</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=3&id_item=53&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/0fa1dfa5-8b14-4727-9f8c-098c2d7aa418_t.jpg"/>
                    </div>
                    <span class="descr">Decoração Estilizada</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=8&id_item=115&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/1185f174-aefe-434f-9752-60d933625af5_t.jpg"/>
                    </div>
                    <span class="descr">Passeio de Barco para turismo e pesca</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=842&id_item=336&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/336_t.jpg"/>
                    </div>
                    <span class="descr">CINE MIDIA</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=842&id_item=339&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/339_t.jpg"/>
                    </div>
                    <span class="descr">EVENTO DE CINEMA</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=8&id_item=114&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/d7c4211d-e2ff-4b69-9c4b-91f78ad1c8d0_t.jpg"/>
                    </div>
                    <span class="descr">Hospedagem em Pesqueiro Tipico Ribeirinho</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=19&id_item=342&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/342_t.jpg"/>
                    </div>
                    <span class="descr">Catalogo Empresarial</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=842&id_item=335&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/335_t.jpg"/>
                    </div>
                    <span class="descr">CINE EMPRESA</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=3&id_item=51&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/44398b23-8a54-4360-a211-4829c4440f4b_t.jpg"/>
                    </div>
                    <span class="descr">Espaço para Locação</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=19&id_item=341&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/341_t.jpg"/>
                    </div>
                    <span class="descr">Sistema de Buscas Detalhado</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                <a href="empresa-item-view.aspx?id_emp=3&id_item=52&tipo=servico">
                    <div class="img-cntt">
                        <img  alt="." src="static/img/a0e73ee4-9d0a-448b-b987-93935a99d708_t.jpg"/>
                    </div>
                    <span class="descr">Serviço de Buffet</span>

                    <span class="prc-vnd">Preço a combinar</span>

                </a>

                </div>

                <div class="center-box">
                    <a class="button" href="busca-item-list.aspx?busca=&tipo=servico">Carregar mais Sugestões</a>
                </div>
            </div>
            <div id="fragment-3" class="box-decorated list-def">
                <div id="list-emp">

                <a href="empresa-produto-list.aspx?id_emp=3">
                    <div class="img-cntt">
                        <img alt="." src="static/img/3_t.jpg"/>
                    </div>
                    <span class="descr">Buffet Casal Garcia</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=2">
                    <div class="img-cntt">
                        <img alt="." src="static/img/2_t.jpg"/>
                    </div>
                    <span class="descr">Móveis Rusticos Reciclart´s</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=80">
                    <div class="img-cntt">
                        <img alt="." src="static/img/80_t.jpg"/>
                    </div>
                    <span class="descr">Agrup – Consultoria Empresarial E Ambiental</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=13">
                    <div class="img-cntt">
                        <img alt="." src="static/img/13_t.jpg"/>
                    </div>
                    <span class="descr">Só Persianas Interiores</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=22">
                    <div class="img-cntt">
                        <img alt="." src="static/img/22_t.jpg"/>
                    </div>
                    <span class="descr">Rose Jóias</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=87">
                    <div class="img-cntt">
                        <img alt="." src="static/img/no-image.png"/>
                    </div>
                    <span class="descr">Paralelo 16</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=19">
                    <div class="img-cntt">
                        <img alt="." src="static/img/19_t.jpg"/>
                    </div>
                    <span class="descr">Oestebuscas</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=6">
                    <div class="img-cntt">
                        <img alt="." src="static/img/6_t.jpg"/>
                    </div>
                    <span class="descr">Adilmira Reis Ceriminial</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=243">
                    <div class="img-cntt">
                        <img alt="." src="static/img/no-image.png"/>
                    </div>
                    <span class="descr">Empresa de teste</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=8">
                    <div class="img-cntt">
                        <img alt="." src=".static/img/8_t.jpg"/>
                    </div>
                    <span class="descr">Campi Rose Jóias</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=18">
                    <div class="img-cntt">
                        <img alt="." src="static/img/18_t.jpg"/>
                    </div>
                    <span class="descr">Beleza dos Enxovais</span>
                </a>

                <a href="empresa-produto-list.aspx?id_emp=11">
                    <div class="img-cntt">
                        <img alt="." src="static/img/11_t.jpg"/>
                    </div>
                    <span class="descr">Sementes Populina - Mirassol D'Oeste</span>
                </a>
                    
                </div>

                <div class="center-box">
                    <a class="button" href="busca-empresa-list.aspx?busca=">Carregar mais Sugestões</a>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="position: relative; top: 88px;"></div>

    <div class="inner-box" style="margin-top: 20px;">
        <div class="separator2"></div>

        <div class="list-col">
            <div class="item">
                <h1><span>ÚLTIMAS</span></h1>
                <div id="list-ntc">

            <a href="../../public/pages/empresa-noticia-view.aspx?id_emp=0&id_ntc=861">

                <div class="img-cntt">
                    <img alt="." src="static/img/861_t.jpg"/>
                </div>

                <span class="descr">Mensagem de socorro gigante salva mergulhadores na Austrália</span><br />
                <span class="rsm">A âncora do barco que o grupo usava quebrou, e o veículo abandonou a ilha onde os cinco viajantes estavam</span>
            </a>

            <a href="../../public/pages/empresa-noticia-view.aspx?id_emp=0&id_ntc=860">

                <div class="img-cntt">
                    <img alt="." src="static/img/860_t.jpg"/>
                </div>

                <span class="descr">Avião desaparecido há mais de 1 mês no Pará é localizado </span><br />
                <span class="rsm">Familiares foram avisados de que não há sobreviventes; FAB vai resgatar aeronave encontrada por garimpeiros</span>
            </a>

            <a href="../../public/pages/empresa-noticia-view.aspx?id_emp=0&id_ntc=858">

                <div class="img-cntt">
                    <img alt="." src="static/img/858_t.jpg"/>
                </div>

                <span class="descr">Sanção do Marco Civil não encerra debate, dizem entidades</span><br />
                <span class="rsm">Ao falar na abertura da NETMundial em SP, presidente defendeu privacidade na web.
Encontro tem representantes de 90 países e discute quem 'manda' na web.</span>
            </a>

                </div>
                <div class="center-box"><a class="button" href="../../public/pages/busca-list.aspx?busca=&filtro=noticias">+ Notícias</a></div>
            </div>

            <div class="item">
                <h1><span>AGENDA</span></h1>
                <div id="list-evt">

            <a href="../../public/pages/empresa-evento-view.aspx?id_emp=0&id_evt=96">
                <div class="data">
                    <span class="dia">25</span>
                    <span class="mes">abr</span>
                </div>
                
                <span class="descr">Show Israel e Rodolfo - Pontes e Lacerda</span><br />
                <span class="local">Excalibur Eventos</span>
            </a>

            <a href="../../public/pages/empresa-evento-view.aspx?id_emp=0&id_evt=95">
                <div class="data">
                    <span class="dia">26</span>
                    <span class="mes">abr</span>
                </div>
                
                <span class="descr">Show Israel e Rodolfo - Cáceres</span><br />
                <span class="local">Cáceres Iate Clube</span>
            </a>

            <a href="../../public/pages/empresa-evento-view.aspx?id_emp=0&id_evt=97">
                <div class="data">
                    <span class="dia">1</span>
                    <span class="mes">mai</span>
                </div>
                
                <span class="descr">Show Loubet - Campo Verde-MT</span><br />
                <span class="local">Parque de Exposições - Campo Verde-MT</span>
            </a>

            <a href="../../public/pages/empresa-evento-view.aspx?id_emp=0&id_evt=99">
                <div class="data">
                    <span class="dia">15</span>
                    <span class="mes">mai</span>
                </div>
                
                <span class="descr">2º Indiaporã Rodeio Show</span><br />
                <span class="local">Rancho Indiaporã</span>
            </a>

                </div>
                <div class="center-box"><a class="button" href="../../public/pages/busca-list.aspx?busca=&filtro=eventos">+ Eventos</a></div>
            </div>

            <div class="item">
                <h1><span>VÍDEOS</span></h1>
                
                <div id="list-vid">

            <iframe width="290" height="220" src="http://www.youtube.com/embed/-FU0Gf_BpVg" frameborder="0" allowfullscreen></iframe>

            <a href="../../public/pages/empresa-video-list.aspx?id_emp=0&id_vid=130">
                <div class="img-cntt">
                    <img alt="Imagem" src="http://i1.ytimg.com/vi/19gVOV5DwfQ/default.jpg" />
                </div>
                <span class="descr">'Darth Vader' se autoproclama alcalde de una ciudad de Ucrania</span>
            </a>

            <a href="../../public/pages/empresa-video-list.aspx?id_emp=0&id_vid=129">
                <div class="img-cntt">
                    <img alt="Imagem" src="http://i1.ytimg.com/vi/mBwsUD7jYCI/default.jpg" />
                </div>
                <span class="descr">Godzilla (2014) Official Teaser Trailer</span>
            </a>

                </div>
                <div class="center-box"><a class="button" href="../../public/pages/busca-list.aspx?busca=&filtro=videos">+ Vídeos</a></div>
            </div>
        </div>
    </div>

    
    



<!--
*****************************************************************************************
  PUBLICIDADE
-->
            <div class="inner-box">
                <ul class="pub-list">

                <li>
                    <a >
                        <div class="img-cntt">

                            <embed src="static/img/só percianas.swf"
                                quality="high" 
                                width="300" 
                                height="100" 
                                type="application/x-shockwave-flash" 
                                wmode="opaque"
                                pluginspage="http://www.macromedia.com/go/getflashplayer">
                            </embed>

                        </div>
                        <span>PUBLICIDADE</span>
                    </a>
                </li>
            
                </ul>
            </div>
        </div>

        <div class="center-cntt-box main-footer">
            <div class="inner-box">
                <ul class="nav nav1">
                    <li><a href="../../public/pages/ajuda-view.aspx">Ajuda</a></li>
                    <li><a href="../../public/pages/sobre-view.aspx">Sobre</a></li>
                    <li><a href="../../public/pages/direitos-autorais-view.aspx">Direitos autorais</a></li>
                    <li><a href="../../public/pages/publicidade-view.aspx">Publicidade</a></li>
                </ul>

                <ul class="nav nav2">
                    <li><a>Buscar</a></li>
                    <li><a href="../../public/pages/contato.aspx" class="open-page">Contato</a></li>
                    <li><a class="open-page" href="../../public/pages/login.aspx">Login</a></li>
                    <li><a class="open-page" href="../../public/pages/login.aspx">Registrar-se</a></li>
                </ul>
            </div>
        </div>

        <div id="black-screen"></div>
        <div id="popup">
            <a id="popup-close"><img alt="Fechar" src="static/img/close-icon.png"/></a>
            <div id="popup-inner"></div>
        </div>

        <div id='album-cntt-box' class='hide'></div>
    </form>
</body>
</html>

